body {
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-width: 750px;
    max-height: 950px;
}
div {
    max-width: 600px;
    max-height: 500px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
h1 {
    text-align: center;
}
h2 {
    max-width: 400px;
    max-height: 300px;

}
#caixa {
    border-radius: 10px 10px;
    border: 1px solid rgb(11, 3, 124);
}
section {
    text-align: center;

}
label {
    width: 240px;
}
#recibo {
    border: 10ch;
}